.Xauthority
.bash_logout
.bashrc
.bundle/
.cache/
.cargo/
.config/
.local.env
.local/
.npm/
.perl-cpm/
.profile
.rustup/
.ssh/
.x
.viminfo
local/
.bash_history
webapp/node
webapp/perl
webapp/php
webapp/ruby
webapp/rust
webapp/sql/setup/2_init.sql

